
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CheapFlix</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index_style.css') }}">
  </head>
  <body>
    <link
      href="https://fonts.googleapis.com/css?family=Dosis:300,400,700"
      rel="stylesheet"
    />

    <div class="container">
      <div class="banner">
        <p>Cheap<span>Flix</span></p>
        <h1>This website was created by :-</h1>
        <h2><span> Ritabrata </span> Roy Choudhury</h2>
        <h2><span> Farhan </span> Jaffer</h2>
        <h2><span> Divyanshi </span> Tiwari</h2>
        <a href="{{ url_for('home') }}"><button type="button" class="btn-left">Get Started</button></a>
        <!-- <button type="button" class="btn-right">Subscribe</button> -->
      </div>
    </div>

<!--    <script src="script.js"></script>-->
  </body>
</html>
